{% extends "base/index.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<div><h1>To Do</h1></div>
{% if request.user.is_authenticated %}
<div class="row row-cols-1 row-cols-md-3 g-4">
{% for task in tasks %}

    <div class="col">
        <div class="card h-100">
            <div class="card-header bg-transparent border-success">
                <a href="{% url 'view' task.id %}" class="btn btn-warning">View</a>
                <a href="{% url 'update' task.id %}" class="btn btn-secondary">Update</a>
            </div>
             <div class="card-body">

                <p class="card-text "><h5>{{task.title}}</h5></p>

             </div>
            <div class="card-footer">
        <a href="{% url 'done' task.id %}" class="btn btn-primary">Done</a>
        <a href="{% url 'delete' task.id %}" class="btn btn-danger">Delete</a>

        </div>
    </div>
        </div>



{% endfor %}
</div>
{% else %}
<div>
    <p> To view your tasks please login or register</p>
</div>
{% endif %}

{% endblock %}